#newsfeed-launcher-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.5rem;
}

#newsfeed-launcher {
  padding: 0.25rem 0.5rem; /* Reduced padding */
  background-color: var(--ifm-color-primary);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.75rem; /* Smaller font size */
  text-transform: uppercase;
  transition: background-color 0.3s;
  outline: none;
}

#newsfeed-launcher:hover {
  background-color: var(--ifm-color-primary-dark);
}

.badge {
  position: absolute; /* Absolute positioning relative to container */
  top: 10px; /* Adjust as necessary */
  right: 40px; /* Adjust as necessary */
  background-color: red; /* or any color */
  color: white; /* text color */
  border-radius: 50%; /* circular badge */
  width: 20px; /* badge size */
  height: 20px; /* badge size */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem; /* Adjust the font size as needed */
}